/* Container and Layout */
.dashboard-container {
    display: flex;
    height: 100vh;
    background-color: rgb(31, 31, 31); /* Light background color */
    font-family: Arial, sans-serif;
}

/* Sidebar styling */
.sidebar {
    width: 240px;
    background-color: #252526; /* Dark sidebar color */
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ffffff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20%;
}

.sidebar li {
    padding: 12px 10px;
    margin: 5px 0;
    cursor: pointer;
    color: #a4b0be; /* Lighter color for items */
    display: flex;
    align-items: center;
    font-weight: 600;
}

.sidebar li.active,
.sidebar li:hover {
    color: #ffffff;
    background-color: #17a2b8; /* Highlight color */
    border-radius: 5px;
}

.logout-btn {
    background-color: #d92b2b; /* Red logout button */
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    bottom: 5%;
}

/* Main content styling */
.dashboard-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
}

.dashboard-header h3 {
    color: #1c1c1c;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

/* Dashboard overview cards */
.dashboard-overview,
.leave-details {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: 10%;
}
.leave-details h3{
    position: relative;
    left: 10%;
    top: 4%;
}
.dashboard-overview h2{
    position: relative;
    left: 10%;
    margin-top: 5px;
}

.overview-card,
.leave-card {
    background-color: #2c2c2d;
    padding: 20px;
    flex: 2;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.overview-card h4,
.leave-card h4 {
    margin: 0;
    font-size: 1.1rem;
    color: white; /* Darker title color */
}

.overview-card p,
.leave-card p {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0 0;
    color: #007bff; /* Blue color for values */
}

/* Specific colors for each card */
.overview-card:nth-child(1) p {
    color: #28a745; /* Green color for Total Employees */
}

.overview-card:nth-child(2) p {
    color: #ffc107; /* Yellow color for Total Departments */
}

.overview-card:nth-child(3) p {
    color: #dc3545; /* Red color for Monthly Pay */
}

.leave-card:nth-child(1) p {
    color: #ffc107; /* Yellow color for Leave Applied */
}

.leave-card:nth-child(2) p {
    color: #28a745; /* Green color for Leave Approved */
}

.leave-card:nth-child(3) p {
    color: #ffc107; /* Yellow color for Leave Pending */
}

.leave-card:nth-child(4) p {
    color: #dc3545; /* Red color for Leave Rejected */
}
