@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  background-color: rgb(220, 220, 232);
}
h2{
  text-align: center;
  color: red;
}

.container{
  background-color: white;
  color: black;
  height: max-content;
  width: 55%;
  position: absolute;
  left: 24%;
  top: 17%;
  padding: 20px;
}
.table{
  width: 50%;
  margin: 50px 60px;
  border-collapse: collapse;
  cursor: pointer;
}
.table th,td{
  padding: 2px;
  text-align: center;
  border: 1px solid gray;
}
.table tr:nth-child(even) {
  background-color: rgb(243, 225, 192);
}
.table tr:hover{
  background-color: rgb(243, 225, 192);
}
/*Btn styling*/
.btn{
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border: none;
  margin: 2% 0;
  width: max-content;
}
.btn:hover{
  background-color: black;
  font-weight: 600;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.addBtn{
  float: right;
  width: 10%;
}

.searchBar{
    margin-top: 4%;
}
.searchBar input{
    padding: 6px;
    width: 50%;
    border: 1px solid rgb(26, 25, 25);
    font-size: 17px;
    font-weight: 400;
}
.backBtn{
  background-color: blue;
}

