@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif,'poppins';
}
body{
  background-color: rgb(220, 220, 232);
}
h2{
  text-align: center;
  color: red;
}

.container{
  background-color: white;
  color: black;
  height: max-content;
  width: 82%;
  position: absolute;
  left: 10%;
  top: 17%;
  padding: 14px;
}
.table{
  width: 90%;
  margin: 50px 60px;
  border-collapse: collapse;
  cursor: pointer;
}
.table th,td{
  padding: 12px;
  text-align: center;
  border: 1px solid gray;
}
.table tr:nth-child(even) {
  background-color: rgb(243, 225, 192);
}
.table tr:hover{
  background-color: rgb(243, 225, 192);
}
/*Btn styling*/
.btn{
  padding: 6px 12px;
  color: white;
  cursor: pointer;
  border: none;
  margin: 3% 0;
}
.btn:hover{
  background-color: black;
  font-weight: 400;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: rgb(220, 68, 13);
}
.addBtn{
  float: right;
  width: 30%;
}

.searchBar{
    margin-top: 4%;
}
.searchBar input{
    padding: 6px;
    width: 50%;
    border: 1px solid rgb(26, 25, 25);
    font-size: 17px;
    font-weight: 400;
}

.employee-image {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  object-fit: cover; /* Maintain aspect ratio and crop the image if needed */
  border-radius: 50%; /* Make it circular if you like */
}


